# Virtual environment
venv/

# zsh-autoenv
.in
.out

# Editors and IDEs
.idea/
.vscode/

# Python bytecode
__pycache__/
*.pyc

# Build artifacts
*.egg-info/
dist/

# Debug output
*.json

# Video output
*.mp4
*.gif
*.webp
